# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/
env/
*.env

# VS Code / PyCharm settings
.vscode/
.idea/

# macOS / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg and build files
*.egg
*.egg-info/
dist/
build/

# Environment/Secrets
.env
*.sqlite3